@font-face {
    font-family: 'Oswald';
     src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
     font-weight: 300;
   }
@font-face {
    font-family: 'Oswald';
     src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
     font-weight: 500;
   }
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.hr-multiline{
    margin: 0px 0px -20px 30px;
    padding: 0;
    height: 15px;
    border: none;
    color: rgb(192, 167, 173);
    background-image: linear-gradient(currentColor, currentColor 33.33%, transparent 33.33%, transparent 100%);
    background-size: 100% 3px;
    width: 100%;
    }
.hr-shelf {
	margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 100%;
    
}
.header{
    display: flex; 
    /*border: 1px solid silver;*/  
} 
.header div{
    height: 250px;
    color: blanchedalmond;
    background-color: rgb(34, 33, 32);
}
    .photo{
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
    }
    .round{
        border-radius: 50%;
    }
    .name{
         width: 80%;
    } 
    .name h1{
        font-size: 30px;
   } 
        
    .menu{
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
}
    .menu li {
    margin: 10px 0px 0px 0px;
}
.main{
    display: flex;
    flex-direction: column;
    } 
.about-me{
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(192, 167, 173);
    border: 1px solid silver;
}
    .title1, .title2, .title3, .title4, .title5{
        width: 20%;
        padding: 0px 0px 0px 50px;
        font-size: 120%; 
    }
    .content1, .content2, .content3, .content4, .content5{
        width: 80%;
       /* border: 1px solid silver;*/
        padding: 0px 0px 0px 50px; 
    }
    .content5{
        display: flex;
    }
    
.skills{
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(192, 167, 173);
    border: 1px solid silver;
}
.cod{
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(180, 128, 141);
    border: 1px solid silver;
}
.expirience{
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(192, 167, 173);
    border: 1px solid silver;
}
.education{
    display: flex;
    color: black;
    background-color: rgb(192, 167, 173);
    border: 1px solid silver;
}
 
.footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    background-color: rgb(184, 141, 152);  
}
.footer div{
    display: inline-block;
    /*height : 50px;*/
    margin-bottom: 0px; 
}
.year-block {
    font-size: 22px;
    /*border: 1px solid springgreen;*/
    }
.git-block {
    background-image: url(./assets/img/648256.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0px 80px 0px 0px;
    /*border: 1px solid springgreen;*/
    }
.rs-block {
    background-image: url(./assets/img/rs_school_js.svg);
    background-repeat: no-repeat;
    width: 70px;
    height: 28px;
    margin: 25px 0px 0px 80px;
    padding: 24px;
    /*overflow : hidden;
    border: 1px solid springgreen;*/
    }